@model List<GIGINOSTOP.Models.Articoli>

@{
    ViewBag.Title = "Collezione";
}

<div class="container-fluid">
    <div class="row">
        <!-- Immagine a sinistra -->
        <div class="col-lg-4 mb-3">
            <img src="https://www.gamestop.it/Views/Locale/Content/Images/landing.GenericPlayStationGames/BannerShowcase@2x.jpg?rel=2" class="img-fluid" alt="Immagine">
        </div>

        <!-- Cards a destra -->
        <div class="col-lg-8">
            <div class="row">
                @foreach (var articolo in Model)
                {
                    <div class="col-md-4 mb-3">
                        <div class="card border-0">
                            <a href="@Url.Action("Details", "Collezioni", new { id = articolo.id })" style="text-decoration: none; color: inherit;">
                                <img src="@articolo.immagine" class="card-img-top" alt="@articolo.nomearticolo">
                                <div class="card-body p-2">
                                    <h4 class="custom-h4" style="color: #333; /* Colore testo personalizzato */">@articolo.nomearticolo</h4>
                                    @if (articolo.in_offerta.HasValue && articolo.prezzo_offerta.HasValue)
                                    {
                                        <p class="card-text" style="color: #555; /* Colore testo personalizzato */">
                                            <del>Prezzo: @articolo.prezzo €</del><br>
                                            <strong>Prezzo in offerta: @articolo.prezzo_offerta €</strong>
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="card-text" style="color: #555; /* Colore testo personalizzato */">Prezzo: @articolo.prezzo €</p>
                                    }
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
