@model GIGINOSTOP.Models.Articoli

@{
    ViewBag.Title = "Dettagli Articolo";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Dettagli Articolo</h2>

        @if (Model != null)
        {
            <div class="row">
                <!-- Immagine a sinistra -->
                <div class="col-lg-4 mb-3">
                    <div class="image-container">
                        <img src="@Model.immagine" alt="@Model.nomearticolo" class="img-fluid">
                    </div>
                </div>

                <!-- Descrizione a destra -->
                <div class="col-lg-8 mb-3">
                    <div class="details-container">
                        <h3>@Model.nomearticolo</h3>
                        <p>@Model.descrizione</p>

                        <!-- Form per l'aggiunta al carrello -->
                        @using (Html.BeginForm("AggiungiAlCarrello", "Carrello", FormMethod.Post, new { id = "aggiungiAlCarrelloForm" }))
                        {
                            @Html.HiddenFor(model => model.id)

                            <label for="quantita">Quantità:</label>
                            <input type="number" name="quantita" id="quantita" value="1" min="1" required class="form-control">

                            <button type="submit" class="btn btn-primary mt-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="20" width="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <circle cx="9" cy="21" r="1"></circle>
                                    <circle cx="20" cy="21" r="1"></circle>
                                    <path d="M1 4h4l3 10a2 2 0 002 1.6h8.5a2 2 0 002-1.6L22 6H11"></path>
                                </svg>
                                Aggiungi al Carrello
                            </button>
                        }
                    </div>
                </div>
            </div>

            <div class="price-container mt-3">
                @if (Model.in_offerta.HasValue && Model.prezzo_offerta.HasValue)
                {
                    <p>
                        <del>Prezzo: @Model.prezzo €</del><br>
                        <strong>Prezzo in offerta: @Model.prezzo_offerta €</strong>
                    </p>
                }
                else
                {
                    <p>Prezzo: @Model.prezzo €</p>
                }
            </div>
        }
        else
        {
            <p>Articolo non trovato.</p>
        }



        <!-- Bottone "Aggiungi recensione" -->
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Aggiungi recensione", "Create", "Recensioni", new { idArticolo = Model.id }, new { @class = "btn btn-primary mt-3" })
        }
    </div>

    <a href="@Url.Action("Index", "Collezioni")" class="btn btn-primary mt-3">Torna alla lista</a>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(function () {
            $('#aggiungiAlCarrelloForm').submit(function (event) {
                event.preventDefault();
                aggiungiAlCarrello();
            });
        });

        function aggiungiAlCarrello() {
            var id = $('#id').val();
            var quantita = $('#quantita').val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("AggiungiAlCarrello", "Carrello")',
                data: {
                    id: id,
                    quantita: quantita
                },
                success: function (response) {
                    updateCarrelloIndicator(response);
                },
                error: function (xhr, status, error) {
                    console.error("Si è verificato un errore durante l'aggiunta dell'articolo al carrello.");
                }
            });
        }

        function updateCarrelloIndicator(quantity) {
            var carrelloIndicator = $('#carrelloIndicator');
            carrelloIndicator.show();
            var carrelloCounter = $('#carrelloCounter');
            carrelloCounter.text(quantity);
        }
    </script>
</body>
</html>
