@model IEnumerable<GIGINOSTOP.Models.Articoli>

@{
    ViewBag.Title = "Home Page";
}


<header>
    <!-- Includi qui l'header, se necessario -->
</header>

<div class="container">
    <section class="section is-first">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <!-- Slide 1 -->
                <div class="carousel-item active">
                    <a href="@Url.Action("Dettagli", "Home")">
                        <img src="//www.gamestop.it/Views/Locale/Content/Images//PS5LiteGeneric/slider.jpg?rel=4" class="d-block w-100" alt="Prima Immagine">
                    </a>
                </div>
                <!-- Slide 2 -->
                <div class="carousel-item">
                    <a href="@Url.Action("Xbox", "Collezioni")">
                        <img src="//www.gamestop.it/Views/Locale/Content/Images//landing.Xbox/HeroSliderConsole/slider.jpg" class="d-block w-100" alt="Seconda Immagine">
                    </a>
                </div>
                <!-- Slide 3 -->
                <div class="carousel-item">
                    <a href="@Url.Action("Supermario", "Home")">
                        <img src="//www.gamestop.it/Views/Locale/Content/Images//landing.nintendo/MarioVsDonkey/Slider.jpg?rel=2" class="d-block w-100" alt="Terza Immagine">
                    </a>
                </div>
            </div>
            <!-- Next/Previous controls -->
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
</div>


<div class="container-fluid">
    <div class="row">

        <!-- Collezione PlayStation -->
        <div class="col-lg-2 col-md-4 col-sm-6">
            <a href="@Url.Action("Index", "Collezioni")" class="btn btn-custom collezione-link">
                <img src="//www.gamestop.it/Views/Locale/Content/Images/FeatureBlocks/PS/FeatureBlock@2x.jpg" class="img-fluid" alt="Collezione PlayStation">
            </a>
        </div>

        <!-- Collezione Xbox -->
        <div class="col-lg-2 col-md-4 col-sm-6">
            <a href="@Url.Action("Xbox", "Collezioni")" class="btn btn-custom collezione-link">
                <img src="//www.gamestop.it/Views/Locale/Content/Images/FeatureBlocks/Xbox/FeatureBlock@2x.jpg" class="img-fluid" alt="Collezione Xbox">
            </a>
        </div>

        <!-- Collezione Nintendo -->
        <div class="col-lg-2 col-md-4 col-sm-6">
            <a href="@Url.Action("Nindendo", "Collezioni")" class="btn btn-custom collezione-link">
                <img src="//www.gamestop.it/Views/Locale/Content/Images/FeatureBlocks/Nintendo/FeatureBlock@2x.jpg" class="img-fluid" alt="Collezione Nintendo">
            </a>
        </div>

        <!-- Collezione PC Build -->
        <div class="col-lg-2 col-md-4 col-sm-6">
            <a href="@Url.Action("PC", "Collezioni")" class="btn btn-custom collezione-link">
                <img src="//www.gamestop.it/Views/Locale/Content/Images/FeatureBlocks/PCBuild/FeatureBlock@2x.jpg" class="img-fluid" alt="Collezione PC Build">
            </a>
        </div>

        <!-- Collezione Bandai -->
        <div class="col-lg-2 col-md-4 col-sm-6">
            <a href="@Url.Action("Bandai", "Collezioni")" class="btn btn-custom collezione-link">
                <img src="//www.gamestop.it/Views/Locale/Content/Images/FeatureBlocks/Bandai/FeatureBlock@2x.jpg" class="img-fluid" alt="Collezione Bandai">
            </a>
        </div>

        <!-- IconSet PlayStation Accessories -->
        <div class="col-lg-2 col-md-4 col-sm-6">
            <a href="@Url.Action("Streamer", "Collezioni")" class="btn btn-custom collezione-link">
                <img src="//www.gamestop.it/Views/Locale/Content/Images/_IconSet/IconSet_PlayStationAccessoriesGeneric.svg" class="img-fluid" alt="IconSet PlayStation Accessories">
            </a>
        </div>

        <!-- Collezione Very Mobile -->
        <div class="col-lg-2 col-md-4 col-sm-6">
            <a href="@Url.Action("Very", "Collezioni")" class="btn btn-custom collezione-link">
                <img src="//www.gamestop.it/Views/Locale/Content/Images/FeatureBlocks/VeryMobile/FeatureBlock@2x.jpg" class="img-fluid" alt="Collezione Very Mobile">
            </a>
        </div>

        <!-- Collezione Hori -->
        <div class="col-lg-2 col-md-4 col-sm-6">
            <a href="@Url.Action("Hori", "Collezioni")" class="btn btn-custom collezione-link">
                <img src="//www.gamestop.it/Views/Locale/Content/Images/FeatureBlocks/Hori/FeatureBlock@2x.jpg" class="img-fluid" alt="Collezione Hori">
            </a>
        </div>

        <!-- Logo Publisher Pokemon -->
        <div class="col-lg-2 col-md-4 col-sm-6">
            <a href="@Url.Action("Pokemon", "Collezioni")" class="btn btn-custom collezione-link">
                <img src="//www.gamestop.it/Views/Locale/Content/Images/LogosPublisher/Pokemon.png" class="img-fluid" alt="Logo Publisher Pokemon">
            </a>
        </div>

        <!-- Collezione EFC24 -->
        <div class="col-lg-2 col-md-4 col-sm-6">
            <a href="@Url.Action("Fc24", "Collezioni")" class="btn btn-custom collezione-link">
                <img src="//www.gamestop.it/Views/Locale/Content/Images/FeatureBlocks/EFC24/FeatureBlock@2x.jpg" class="img-fluid" alt="Collezione EFC24">
            </a>
        </div>

        <!-- IconSet Games All Platforms -->
        <div class="col-lg-2 col-md-4 col-sm-6">
            <a href="@Url.Action("Ps1", "Collezioni")" class="btn btn-custom collezione-link">
                <img src="//www.gamestop.it/Views/Locale/Content/Images/_IconSet/IconSet_GamesAllPlatforms.svg" class="img-fluid" alt="IconSet Games All Platforms">
            </a>
        </div>

        <!-- Logo MSI -->
        <div class="col-lg-2 col-md-4 col-sm-6">
            <a href="@Url.Action("Msi", "Collezioni")" class="btn btn-custom collezione-link">
                <img src="//microtech.store/ludix/_images/logo_msi.png" class="img-fluid" alt="Logo MSI">
            </a>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- Immagine responsiva senza link cliccabile -->
            <picture>
                <source media="(max-width: 576px)" sizes="100vw"
                        srcset="//www.gamestop.it/Views/Locale/Content/Images//landing.GSProRevamp/FullWidthBanner/Banner-mobile.jpg 1x,
                            //www.gamestop.it/Views/Locale/Content/Images//landing.GSProRevamp/FullWidthBanner/Banner-mobile@2x.jpg 2x">
                <source media="(max-width: 959px)" sizes="100vw"
                        srcset="//www.gamestop.it/Views/Locale/Content/Images//landing.GSProRevamp/FullWidthBanner/Banner-half.jpg 1x,
                            //www.gamestop.it/Views/Locale/Content/Images//landing.GSProRevamp/FullWidthBanner/Banner-half@2x.jpg 2x">
                <source sizes="100vw"
                        srcset="//www.gamestop.it/Views/Locale/Content/Images//landing.GSProRevamp/FullWidthBanner/Banner-full.jpg 1x,
                            //www.gamestop.it/Views/Locale/Content/Images//landing.GSProRevamp/FullWidthBanner/Banner-full@2x.jpg 2x">
                <img src="//www.gamestop.it/Views/Locale/Content/Images//landing.GSProRevamp/FullWidthBanner/Banner-full.jpg"
                     alt="Immagine senza link cliccabile" class="non-clickable-image img-fluid">
            </picture>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#carouselExampleControls').carousel({
            interval: 3000, // Cambia slide ogni 3 secondi
            wrap: true, // Ripeti il carousel all'infinito
            pause: false // Non mettere in pausa al passaggio del mouse
        });
    });
</script>
