@model List<GIGINOSTOP.Models.CarrelloItem>
@{
    ViewBag.Title = "Visualizza";
}

<!-- Includere i fogli di stile e gli script necessari -->


    <h2>Carrello</h2>

    <div id="carrello">
        @{
            decimal total = 0;
            foreach (var item in Model)
            {
                <div class="item">
                    <h4>@item.NomeArticolo</h4>
                    <p>Prezzo: @item.Prezzo</p>
                    <form method="post" action="@Url.Action("AggiornaQuantita", "Carrello")">
                        <label>Quantità:</label>
                        <input type="hidden" name="id" value="@item.ArticoloId" />
                        <input type="number" name="quantita" value="@item.Quantita" min="1" />
                        <input type="submit" value="Aggiorna Quantità" />
                    </form>
                    <form method="post" action="@Url.Action("EliminaArticolo", "Carrello")">
                        <input type="hidden" name="id" value="@item.ArticoloId" />
                        <button type="submit">Elimina</button>
                    </form>
                    <!-- Altri dettagli dell'articolo -->
                </div>
                total = total + (decimal)(item.Prezzo * item.Quantita); // Aggiungi il prezzo moltiplicato per la quantità al totale
            }
        }
        <h3>Totale: @total</h3> <!-- Mostra il totale -->
    </div>
    @using (Html.BeginForm("ConfermaOrdine", "Carrello", FormMethod.Post))
    {
        <input type="submit" value="Conferma Ordine" class="btn btn-primary" />
    }


