@model GIGINOSTOP.Models.Piattaforma
@{
    ViewBag.Title = "Dettagli";
}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">

                    <h2>Dettagli della Piattaforma</h2>

                    @using (Html.BeginForm("Modifica", "Piattaforme", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.id)
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.nome,"NOME", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- Altri campi della piattaforma, se necessario -->
                    <!-- Pulsante di invio -->
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Salva" class="btn btn-dark mt-2" />
                        </div>
                    </div>
                </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
