@model List<GIGINOSTOP.Models.Piattaforma>

@{
    ViewBag.Title = "Lista delle Piattaforme";
}

<h2>Lista delle Piattaforme</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th></th> <!-- Aggiungi una colonna per i pulsanti di modifica ed eliminazione -->
        <th></th>
        <th></th>
    </tr>
    @foreach (var piattaforma in Model)
    {
        <tr>
            <td>@piattaforma.id</td>
            <td>@piattaforma.nome</td>
            <td>@Html.ActionLink("Dettagli", "Dettagli", new { id = piattaforma.id })</td> <!-- Aggiungi un link per i dettagli -->

            <td>
                @using (Html.BeginForm("Elimina", "Piattaforme", FormMethod.Post))
                {
                    <input hidden="hidden" name="ID" value="@piattaforma.id" />
                    <button class="btn btn-danger p-2">Elimina</button>
                }
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Torna Indietro", "Index")
</div>
